[Unit]
Description=Run restic backup daily

[Timer]
OnCalendar=*-*-* 14:00:00
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
