[Unit]
Description=Restic backup of ~/Documents (%i)
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
Environment="RESTIC_PASSWORD_COMMAND=secret-tool lookup service restic"
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
